[pre-merge-check]
check1 = "/Users/maximilian/workspace/worktrunk.stderr-out/tests/fixtures/mixed-output.sh check1 5"
check2 = "/Users/maximilian/workspace/worktrunk.stderr-out/tests/fixtures/mixed-output.sh check2 5"
